node_modules/

.vscode/*
!.vscode/settings.json

__pycache__
*.pyc

.env*
package.json
package-lock.json

composer

vscode-extensions-current.txt

temp.*

runtimes/java/
*.jar
*.class
Main.java

runtimes/typst/willyhorizont/output/typst/
*.pdf

runtimes/ocaml/runtime/willyhorizont.cmi
runtimes/ocaml/runtime/willyhorizont.cmx
runtimes/ocaml/runtime/willyhorizont.o