node_modules/

.vscode/*
!.vscode/settings.json

__pycache__
*.pyc

.env*
package-lock.json

composer

temp.*

*.jar
*.class
Main.java

runtimes/typst/willyhorizont/output/typst/
*.pdf

runtimes/ocaml/main
runtimes/ocaml/main.ml

runtimes/ocaml/*.cmi
runtimes/ocaml/*.cmo
runtimes/ocaml/*.cmx
runtimes/ocaml/*.o

runtimes/ocaml/willyhorizont/runtime/*.cmi
runtimes/ocaml/willyhorizont/runtime/*.cmo
runtimes/ocaml/willyhorizont/runtime/*.cmx
runtimes/ocaml/willyhorizont/runtime/*.o

runtimes/odin/main.odin

runtimes/gleam/*.beam
runtimes/gleam/*.ez
runtimes/gleam/build/
runtimes/gleam/erl_crash.dump
runtimes/gleam/.github/
runtimes/gleam/test/
runtimes/gleam/README.md
runtimes/gleam/src/demo.gleam

runtimes/rust/target/
runtimes/rust/src/main.rs

runtimes/erlang/main.erl

*.zip
*.swf
runtimes/actionscript/output/
runtimes/actionscript/Main.as

__init__.py
__pycache__/

tools/output/

tempCodeRunnerFile.*

runtimes/nim/main.nim
runtimes/nim/main

runtimes/zig/main.zig
runtimes/zig/main

*.vsix

tools/vscode-extensions/vim9script-syntax-highlighter/repos/

runtimes/scala/main.scala

active-docker-container.txt

runtimes/visual-basic-dot-net/output/
runtimes/visual-basic-dot-net/obj/
runtimes/visual-basic-dot-net/Main.vb

runtimes/c-sharp/output/
runtimes/c-sharp/obj/
runtimes/c-sharp/Main.cs
