node_modules/

.vscode/*
!.vscode/settings.json

__pycache__
*.pyc

.env*
package-lock.json

composer

temp.*

runtimes/java/
*.jar
*.class
Main.java

runtimes/typst/willyhorizont/output/typst/
*.pdf

runtimes/ocaml/runtime/willyhorizont.cmi
runtimes/ocaml/runtime/willyhorizont.cmx
runtimes/ocaml/runtime/willyhorizont.o

runtimes/odin/main.odin
runtimes/gleam/main/

*.zip
*.swf
runtimes/actionscript/output/
runtimes/actionscript/Program.as

__init__.py
__pycache__/

tools/output/

tempCodeRunnerFile.*

runtimes/nim/main.nim
runtimes/zig/main.zig

*.vsix

tools/vscode-extensions/vim9script-syntax-highlighter/repos/

